# requests
# # huggingface-hub
pymongo
certifi


fastapi
uvicorn[standard]

# Database (MongoDB - async)
motor

# Security & Auth
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0

# HTTP Requests
requests
pydantic[email]
#mongo atlas
pymongo[srv]
# google gemini
google-genai



bcrypt==3.2.2

